#globalbg {
    background-image: url("../img/food-background1.c71a4912ec79.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    background-attachment: fixed;
}
#foodsearchimgid {
	/*width: 18rem;*/
}