#globalbg {
    background-image: url("/staticfiles/img/food-background1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    background-attachment: fixed;
}