{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'food_app/css/style.css' %}">
	{% block header %}
		<title>Wellness Native</title>
	{%endblock header %}
</head>
<body id="globalbg">
	<header class="site-header" >
		<!-- bootstrap light navbar -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
			<div class="container">
				<a class="navbar-brand" href="{% url 'food-app-home' %}">Wellness Native</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- navbar links to access different fitness calculators -->
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav mr-auto">
						<!-- <a class="nav-item nav-link" href="{% url 'recipe-search' %}">Search Recipe</a>
						<a class="nav-item nav-link" href="{% url 'food-search' %}">Search Food</a> 
						<a class="nav-item nav-link" href="{% url 'nutrient-search' %}">Analyze Nutrients</a>
						<a class="nav-item nav-link" href="{% url 'bmi-calculator' %}">BMI Calculator</a> -->
						<div class="dropdown">
					    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Food and Wellness</a>
					    <div class="dropdown-menu">
				        <a href="{% url 'recipe-search' %}" class="dropdown-item nav-link">Search Recipes</a>
				        <a href="{% url 'food-search' %}" class="dropdown-item nav-link">Search Foods</a>
				        <a href="{% url 'nutrient-search' %}" class="dropdown-item nav-link">Analyze Nutrients</a>
				        <a href="{% url 'measurement-converter' %}" class="dropdown-item nav-link">Measurement Converter</a>
					    </div>
						</div>
						<div class="dropdown">
					    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Fitness</a>
					    <div class="dropdown-menu">
				        <a href="{% url 'bmi-calculator' %}" class="dropdown-item nav-link">BMI Calculator</a>
				        <a href="{% url 'bmr-calculator' %}" class="dropdown-item nav-link">BMR Calculator</a>
				        <a href="{% url 'tea-calculator' %}" class="dropdown-item nav-link">Tea and Caffeine Calculator</a>
				        <a href="{% url 'other-calculators' %}" class="dropdown-item nav-link">Other Calculators</a>
					    </div>
						</div>
					</div>
					
					<div class="navbar-nav">
						{% if user.is_authenticated %}
							<a class="nav-item nav-link float-right" href="{% url 'profile' %}"><img class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="25" height="25"> {{ user.username }}</a>
							<a class="nav-item nav-link float-right" href="{% url 'logout' %}">Logout</a>
						{% else %}
							<a class="nav-item nav-link float-right" href="{% url 'login' %}">Login</a>
							<a class="nav-item nav-link float-right" href="{% url 'register' %}">Register</a>
						{% endif %}
					</div>
				</div>
			</div>
		</nav>
	</header>
	
	<div class="container mt-4">
		<br><br><br>
		
		{% if messages %} {% for message in messages %}
			<div class="alert alert-{{ message.tags }}">
				{{ message }}
			</div>
		{% endfor %} {% endif %}

    {% block content %}
		<div class="container">
			<!-- bootstrap card to make the extra space look faded -->
			<div class="card card-register mx-auto mt-2">
				<div class="card-header">Wellness Native - Error</div>
				<div class="card-body">
          <p>Error Loading ...</p>
				</div>
			</div>
		</div>
    {% endblock content %}
	</div>

	<footer class="text-center fixed-bottom navbar-light bg-light mt-4">
	  <!-- Copyright -->
	  <div class="text-center p-3">
	    © 2020 Copyright: SOFE 4630U - Final Project; Sohaib Mohiuddin, Umar Riaz, Matthew Bernard
	  </div>
	  <!-- Copyright -->
	</footer>
</body>
{% block scripts %} {% endblock scripts %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>