{% extends "food_app/base.html" %} 
{% block header %}
  <title>BMR Calculator</title>
{%endblock header %}
{% block content %}
<div class="container">
  <!-- bootstrap card to make the extra space look faded -->
  <div class="card card-register mx-auto mt-2">
    <h3 class="card-header">BMR Calculator</h3>
    <div class="card-body">
      <form method="GET" action="{% url 'bmr-calculator' %}">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Weight (kg)</span>
          </div>
          <input type="number" name="userWeight" class="form-control" placeholder="{{ user.profile.weight }} kg" aria-label="userWeight" aria-describedby="basic-addon1"/>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Height (cm)</span>
          </div>
          <input type="number" name="userHeight" class="form-control" placeholder="{{ user.profile.height }} cm" aria-label="userHeight" aria-describedby="basic-addon1"/>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Age (yrs)</span>
          </div>
          <input type="number" name="userAge" class="form-control" placeholder="{{ user.profile.age }} yrs" aria-label="userAge" aria-describedby="basic-addon1"/>
        </div>
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="bmrsex">Sex</label>
          </div>
          <select class="custom-select" id="bmrsex" name="bmrsex">
            <option selected>Choose...</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit" name="submitBmrCalculate">Calculate BMR</button>
      </form>

      <form method="POST" action="{% url 'bmr-calculator' %}">
        {% csrf_token %}
        {% if weight and height and age and sex and bmr_result %}
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Weight</span>
            </div>
            <input type="number" name="readonlyweight" class="form-control" aria-label="readonlyweight" aria-describedby="basic-addon1" value="{{ weight }}" readonly/>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Height</span>
            </div>
            <input type="number" name="readonlyheight" class="form-control" aria-label="readonlyheight" aria-describedby="basic-addon1" value="{{ height }}" readonly/>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Age</span>
            </div>
            <input type="number" name="readonlyage" class="form-control" aria-label="readonlyage" aria-describedby="basic-addon1" value="{{ age }}" readonly/>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Sex</span>
            </div>
            <input type="text" name="readonlysex" class="form-control" aria-label="readonlysex" aria-describedby="basic-addon1" value="{{ sex }}" readonly/>
          </div>
          
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">BMR Result</span>
            </div>
            <input type="number" name="bmrResult" class="form-control" aria-label="bmrResult" aria-describedby="basic-addon1" value="{{ bmr_result | floatformat:2 }}" readonly/>
          </div>
          <button class="btn btn-primary" type="submit" name="submitBmrSaveDb">Save BMR Result</button>
        {% endif %}
      </form>

    </div>
  </div>
  {% if user.is_authenticated %}
    <div class="card card-register mx-auto mt-2">
      <div class="card-header">Saved Results</div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Weight</th>
              <th scope="col">Height</th>
              <th scope="col">Age</th>
              <th scope="col">Sex</th>
              <th scope="col">BMR</th>
            </tr>
          </thead>
          <tbody>
            {% if queryset %} {% for results in queryset %}
              <tr>
                <th scope="row">{{ results.id }}</th>
                <td>{{ results.weight }} kg</td>
                <td>{{ results.height }} cm</td>
                <td>{{ results.age }} yrs</td>
                <td>{{ results.sex }}</td>
                <td>{{ results.bmr_result }} kg/m2</td>
              </tr>
            {% endfor %} {% else %}
              <tr>
                <th scope="row"> - </th>
                <td> - </td>
                <td> - </td>
                <td> - </td>
                <td> - </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
</div>
{% endblock content %}

