{% extends "food_app/base.html" %}
{% block content %}
<div class="container">
	<!-- bootstrap card to make the extra space look faded -->
	<div class="card-deck-wrapper">
		<div class="card-deck">
			<div class="card p-2 col-sm-3">
				<img class="card-img-top" src="https://dcassetcdn.com/design_img/10150/25224/25224_294121_10150_image.jpg" alt="Recipe Search" width="200" height="200">
				<a class="card-block stretched-link text-decoration-none" href="{% url 'recipe-search' %}">
					<h4 class="card-title">Search For Recipes</h4>
					<p class="card-text">Search for any recipe that you want with instant results. You can search any of the 1,500,000+ recipes and save the ingredients as well as go to the website to see more about the recipe!</p>
				</a>
			</div>
			<div class="card p-2 col-sm-3">
				<img class="card-img-top" src="https://png.pngtree.com/png-clipart/20190520/original/pngtree-food-logo-designs-with-spoon-and-fork-png-image_4158238.jpg" alt="Food Search" width="200" height="200">
				<a class="card-block stretched-link text-decoration-none" href="{% url 'food-search' %}">
					<h4 class="card-title">Analyze Foods</h4>
					<p class="card-text">Search for any food amongst the 600,000+ foods available and view the nutrient facts about those foods amongst similar results.</p>
				</a>
			</div>
			<div class="card p-2 col-sm-3">
				<img class="card-img-top" src="https://www.thebalancesmb.com/thmb/QO-Z1U5xaJAsZNlfqbelbrg7lfg=/3072x2304/smart/filters:no_upscale()/nutrition-label-172872825-596940b35f9b582c356dd02a.jpg" alt="Nutrient Search" width="200" height="200">
				<a class="card-block stretched-link text-decoration-none" href="{% url 'nutrient-search' %}">
					<h4 class="card-title">Analyze Ingredients</h4>
					<p class="card-text">Analyze any set of ingredients to get the total nutrient quantities.</p>
				</a>
			</div>
			<div class="card p-2 col-sm-3">
				<img class="card-img-top" src="https://www.cdc.gov/healthyweight/images/assessing/bmi-adult-fb-600x315.jpg" alt="Nutrient Search" width="200" height="200">
				<a class="card-block stretched-link text-decoration-none" href="{% url 'bmi-calculator' %}">
					<h4 class="card-title">BMI Calculator</h4>
					<p class="card-text">Calculate your BMI with your saved data or custom values.</p>
				</a>
			</div>

		</div>
	</div>
</div>
{% endblock content %}