{% extends "food_app/base.html" %} 
{% block content %}
<div class="container">
  <!-- bootstrap card to make the extra space look faded -->
  <div class="card card-register mx-auto mt-2">
    <div class="card-header">Recipe Search</div>
    <div class="card-body">
      {% if query %}
        <div class="mb-2">
          <p class="lead">Click/Tap <mark>Image</mark> To View Ingredients</p>
          <p class="lead">Click/Tap <mark>Title</mark> To Go To Recipe Website</p>
        </div>
      {% endif %}
      <form method="GET" action="{% url 'recipe-search' %}">
        <div class="input-group mb-3">
          <!-- <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Search for Recipe</span>
          </div> -->
          <input
            type="text"
            name="searchRecipe"
            class="form-control"
            placeholder="eg. banana muffin or apple pie..."
            aria-label="searchRecipe"
            aria-describedby="basic-addon1"
          />
          <button class="btn btn-primary" type="submit" name="submitRecipeSearch">
            Search
          </button>
        </div>
      </form>
      
      <div class="card-deck"> 
      {% if query %} 
        {% for recipe in search_results.hits %}
          <div class="col-lg-3 mb-3">
            <div class="card">
              <a href="#cardcollapse{{ forloop.counter }}" data-toggle="collapse" aria-expanded="false" aria-controls="cardcollapse{{ forloop.counter }}">
                <img class="card-img-top img-fluid" src="{{ recipe.recipe.image }}" alt="{{ recipe.recipe.label }}" width="200" height="200">
              </a>
              <div class="card-block">
                <a href="{{ recipe.recipe.url }}">
                  <h5 class="card-header">{{ recipe.recipe.label }}</h5>
                </a>
                <div class="collapse" id="cardcollapse{{ forloop.counter }}">
                  <table class="table">
                    <caption><a href="{{ recipe.recipe.url }}">Go To Recipe</a></caption>
                    <thead>
                      <tr>
                        <th scope="col">Ingredients</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for ingredients in recipe.recipe.ingredientLines %}
                      <tr>
                        <th scope="row">{{ ingredients }}</th>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        {% endfor %} {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
